/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*  tatle width  */
/* line 15, ../sass/news.scss */
html, body {
  background-image: url("../images/graphy_bg.png");
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* line 21, ../sass/news.scss */
html .container, body .container {
  width: 1274px;
  margin: 0 auto;
}
/* line 26, ../sass/news.scss */
html .float, body .float {
  float: left;
}
/* line 30, ../sass/news.scss */
html .hidden, body .hidden {
  display: none;
}
/* line 34, ../sass/news.scss */
html .top, body .top {
  width: 100%;
}
/* line 38, ../sass/news.scss */
html .logo, body .logo {
  width: 181px;
  height: 86px;
  margin-left: 145px;
}
/* line 44, ../sass/news.scss */
html .language_border, body .language_border {
  margin-left: 648px;
}
/* line 48, ../sass/news.scss */
html .language, body .language {
  width: 49px;
  height: 12px;
  margin-right: 2px;
  margin-right: 2px;
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #6E6E6E;
  border-top: 2px solid #252525;
}
/* line 60, ../sass/news.scss */
html .top_down, body .top_down {
  width: 1274px;
  background-color: #000000;
}
/* line 65, ../sass/news.scss */
html .menu, body .menu {
  margin-left: 188px;
  height: 34px;
}
/* line 70, ../sass/news.scss */
html .menu_margin, body .menu_margin {
  margin-right: 85px;
}
/* line 75, ../sass/news.scss */
html .footer, body .footer {
  width: 1002px;
  margin-left: 145px;
  padding-top: 30px;
  border-top: 1px dotted #C0C0C0;
}
/* line 83, ../sass/news.scss */
html .footer_border, body .footer_border {
  width: 982px;
  margin-left: 1.3%;
}
/* line 88, ../sass/news.scss */
html .footer_logo, body .footer_logo {
  height: 76px;
  width: 210px;
}
/* line 93, ../sass/news.scss */
html .footer_img, body .footer_img {
  margin-right: 10px;
}
/* line 97, ../sass/news.scss */
html .footer_name, body .footer_name {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 102, ../sass/news.scss */
html .footer_link, body .footer_link {
  margin-bottom: 0px;
}
/* line 106, ../sass/news.scss */
html .footer_news, body .footer_news {
  margin-left: 6.2%;
}
/* line 110, ../sass/news.scss */
html .news_table, body .news_table {
  width: 312px;
  height: 100px;
  font-family: Microsoft JhengHei;
  color: #9EA291;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #AE988A;
  letter-spacing: 0px;
}
/* line 81, ../sass/_mixin.scss */
html .news_table a, body .news_table a {
  text-decoration: none;
}
/* line 82, ../sass/_mixin.scss */
html .news_table a:link, body .news_table a:link {
  color: #ae988a;
}
/* line 83, ../sass/_mixin.scss */
html .news_table a:visited, body .news_table a:visited {
  color: #ae988a;
}
/* line 84, ../sass/_mixin.scss */
html .news_table a:active, body .news_table a:active {
  color: #ae988a;
}
/* line 85, ../sass/_mixin.scss */
html .news_table a:hover, body .news_table a:hover {
  color: #ae988a;
}
/* line 119, ../sass/news.scss */
html .tr, body .tr {
  border-bottom: 1px solid #A7A7A7;
}
/* line 126, ../sass/news.scss */
html .news_td a, body .news_td a {
  text-decoration: none;
}
/* line 127, ../sass/news.scss */
html .news_td a:link, body .news_td a:link {
  color: #AE988A;
}
/* line 128, ../sass/news.scss */
html .news_td a:visited, body .news_td a:visited {
  color: #AE988A;
}
/* line 129, ../sass/news.scss */
html .news_td a:active, body .news_td a:active {
  color: #AE988A;
}
/* line 130, ../sass/news.scss */
html .news_td a:hover, body .news_td a:hover {
  color: #AE988A;
}
/* line 133, ../sass/news.scss */
html .time_word, body .time_word {
  font-family: Time New Rome;
}
/* line 137, ../sass/news.scss */
html .footer_word, body .footer_word {
  font-size: 13px;
  color: #929483;
}
/* line 142, ../sass/news.scss */
html .footer_life, body .footer_life {
  margin-left: 6.2%;
  width: 335px;
  height: 112px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 3px #737665;
  -moz-box-shadow: 0px 3px 3px #737665;
  box-shadow: 0px 3px 3px #737665;
}
/* line 150, ../sass/news.scss */
html .life_title, body .life_title {
  width: 100%;
  margin-left: 10px;
}
/* line 155, ../sass/news.scss */
html .life_img, body .life_img {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 162, ../sass/news.scss */
html .life_table, body .life_table {
  font-family: Microsoft JhengHei;
  color: #9EA291;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  width: 60%;
  height: 70px;
  color: #A4A4A4;
  letter-spacing: 0px;
  margin-top: 8px;
}
/* line 172, ../sass/news.scss */
html .life_tr, body .life_tr {
  border-left: 2px solid #A4A4A4;
  padding-left: 3px;
}
/* line 175, ../sass/news.scss */
html .life_tr a, body .life_tr a {
  text-decoration: none;
}
/* line 176, ../sass/news.scss */
html .life_tr a:link, body .life_tr a:link {
  color: #A4A4A4;
}
/* line 177, ../sass/news.scss */
html .life_tr a:visited, body .life_tr a:visited {
  color: #A4A4A4;
}
/* line 178, ../sass/news.scss */
html .life_tr a:active, body .life_tr a:active {
  color: #A4A4A4;
}
/* line 179, ../sass/news.scss */
html .life_tr a:hover, body .life_tr a:hover {
  color: #A4A4A4;
}
/* line 186, ../sass/news.scss */
html .body, body .body {
  width: 931px;
  height: 340px;
  margin-left: 185px;
}
/* line 192, ../sass/news.scss */
html .table, body .table {
  width: 720px;
  height: 170px;
  margin-top: 30px;
  margin-left: 20px;
}
/* line 199, ../sass/news.scss */
html .t_w, body .t_w {
  width: 100%;
  height: 100%;
}
/* line 204, ../sass/news.scss */
html .tr_a, body .tr_a {
  width: 100%;
  padding: 8px;
}
/* line 209, ../sass/news.scss */
html .td_w, body .td_w {
  width: 83.6%;
}
